{% extends 'base.html' %}

{% block head %}
	<title>Task Master</title>

	<style type="text/css">
		input{
			font-size:120%;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="content" style="margin-top: 2%; text-align: center;">
		<h1>Update Task</h1>

		<div class="form">
			<form action="/update/{{ task.id }}" method="POST" style="margin:2%; ">
				<input type="text" name="content" id="content" value="{{ task.content }}">
				<input type="submit" value="Update">
			</form>
		</div>		
	</div>
{% endblock %}